# Supabase Configuration
VITE_SUPABASE_URL=https://xtufbfvrgpzqbvdfmtiy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0dWZiZnZyZ3B6cWJ2ZGZtdGl5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU3ODUzMDYsImV4cCI6MjA3MTM2MTMwNn0.kckI90iRHcw2hY_J5-tNveAzB1oD8xRT7MyM_tLDZ4M

# Stripe Price IDs (use IDs que começam com price_)
VITE_STRIPE_PRICE_MENSAL=price_1SAVMkRHWDZ0sILDLZvF4O94
VITE_STRIPE_PRICE_TRIMESTRAL=price_1SAaF4RHWDZ0sILDjDMIwdf7
VITE_STRIPE_PRICE_ANUAL=price_1SAaFzRHWDZ0sILD0W6GfxnG